@page "/courses"

<h3>Courses</h3>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name of Course</th>
            <th>Teacher</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Course course in _courses)
        {
            <tr>
                <td>@course.GetId()</td>
                <td>@course.GetName()</td>
                <td>@course.GetTeacher()</td>
                <td><a class="btn btn-danger" href="/courses/@course.GetId()">View</a></td>
            </tr>
        }
    </tbody>

</table>
@code {
    private List<Course> _courses;
    private AppManager _app;
    public Courses()
    {
        _courses = new List<Course>();
        _app = new AppManager();
    }
    protected override async Task OnInitializedAsync()
    {
        _courses = await _app.GetAllCourses();
    }
    
}
