@page "/courses"

<h3>Courses</h3>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name of Course</th>
            <th>Teacher</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Course course in _courses)
        {
            <tr>
                <td>@course.GetId()</td>
                <td>@course.GetName()</td>
                <td>@course.GetTeacher()</td>
            </tr>
        }
    </tbody>

</table>
@code {
    private List<Course> _courses;
    public Courses()
    {
        _courses = new List<Course>();
    }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            using var stream = await FileSystem.OpenAppPackageFileAsync("Courses.txt");
            using var reader = new StreamReader(stream);
            string data = await reader.ReadToEndAsync();
            string[] lines = data.Split("\n");
            foreach (string line in lines)
            {
                string[] record = line.Split(",");
                Course newCourse = new Course(record[0],record[1],record[2]);
                _courses.Add(newCourse);
            }

        }
        catch (FileNotFoundException fe)
        {

        }
    }
    
}
