@page "/courses"

<h3>Courses</h3>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name of Course</th>
            <th>Teacher</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>

</table>
@code {
    
}
