@page "/students"
@using System.IO
@using Microsoft.Extensions.Logging
@inject ILogger<Students> Logger
@using AsistanceApp.Components


<h3>Students</h3>
<table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        @foreach(Student student in _students)
        {
            <StudentInfo StudentElement=student></StudentInfo>
        }
        </tbody>
        
</table>

@code
{
    private AppManager _app;
    private List<Student>? _students;
    public Students()
    {
        _app = new AppManager();
        _students = new List<Student>();

    }
    protected override async Task OnInitializedAsync()
    {
        _students = await _app.GetAllStudents();

    }

}
