@page "/student/{Id}"
@using System.IO
@using Microsoft.Extensions.Logging
@inject ILogger<StudentView> Logger
<h3>@_choiceStudent?.GetName()</h3>

@code {
    [Parameter]
    public string? Id{ get; set; }
    private AppManager _app;
    private Student? _choiceStudent;
    public StudentView()
    {
        _app = new AppManager();
        _choiceStudent = new Student();
    }
    protected override async Task OnInitializedAsync()
    {
        _choiceStudent = await _app.FindStudentById(Id);
    }
    


}
